
Protal maybe/Library/ArtifactDB/*
*.csproj
Protal maybe/Library/Artifacts/*
*.csproj
Protal maybe/Library/ArtifactDB
Protal maybe/Library/Artifacts/07/07b28572ae56520a40086ac1dbc37c2f
*.log
Protal maybe/Library/ShaderCache/*
Protal maybe/Library/PackageCache/*